@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #FFF9E4;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

html {
  overflow-y: hidden;
}